<div id="list"></div>

<form id="addToCartForm">
<input type="number" name="updateStock" min="1" id="addToCart" value="1" />
<input type="submit" value="add to cart" />
<div></div>
<p></p>
<div id="error"></div>
<p></p>
<button onclick="location.href='/api'">BACK TO HOME</button>
<script type="module" src="/js/addProduct.js"></script>