<h3>ADMIN'S BACK OFFICE</h3>

<button onclick="location.href='/api/manageProducts'">Manage products</button>
<button onclick="location.href='/api/generateAdmins'">Generate Admins</button>
<button onclick="location.href='/api/libraryOrders'">Orders</button>
<p></p>
<p></p>
<button onclick="location.href='/api/'">BACK TO HOME</button>