<h3>Please enter your email</h3>
<div id="errorEmail"></div>
<form id="checkEmail">
  <input
    type="text"
    name="checkEmailInput"
    id="checkEmailInput"
    placeholder="email"
  />
  <input type="submit" value="SEND" />
</form>

<script type="module" src="/js/checkEmailRestore.js"></script>