<h1>LOGIN</h1>

<form action="/api/sessions/login" method="post">
  Email:
  <input type="email" name="email" id="email" />
  password:
  <input type="password" name="password" id="password" />
  <input type="submit" value="LOGIN" />
</form>
<div>
  <button onclick="location.href='/api/checkEmail'">Not remember the password?</button>
</div>
<p></p>
<button onclick="location.href='/api/sessions/auth/github'">GITHUB</button>
<button onclick="location.href='/api/sessions/auth/google'">GOOGLE</button>
<p></p>
<div>
  No user?
  <button onclick="location.href='/api/signup'">SIGN UP</button>
</div>