<h3>restore your password</h3>
<p id="email">Hi {{email}}</p>

<form id="checkEmail">
  <input
    type="text"
    name="newPassword"
    id="newPassword"
    placeholder="new password"
  />
  <p></p>
  <input
    type="text"
    name="newPasswordCheck"
    id="newPasswordCheck"
    placeholder="new password again"
  />
  <p></p>
  <input type="submit" value="SEND" />
</form>
<div id="error" class="error">
</div>
<p></p>
<button onclick="location.href='/api/login'">LOG IN</button>

<script src="/js/restorePassword.js"></script>